
/*
@font-face {
	font-family: 'D2Coding';
/ * 	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff'); * /
	src: url('/assets/fonts/D2Coding.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*/

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4); /* 반투명 검은 배경 */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	pointer-events: all; /* 클릭 막기 */
}
.loading-spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3); /* 살짝 어두운 배경 */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	font-size: 24px;
	pointer-events: all; /* 클릭 막기 */
}
.spinner {
	width: 60px;
	height: 60px;
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin-left: 35px;
	margin-bottom: 20px;
}
@keyframes spin {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



[data-bs-theme="dark"] {
	body {
		background-color: #333;
	}
}

body {
	font-family: Consolas, Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #f4f4f4;
}

.body-container {
	margin: 0;
	padding: 0;
}

.main-container {
	margin: auto;
	margin-left: 160px;
	max-width: 100%;
}

.side-container {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	background-color: #212529;
	overflow-x: hidden;
	padding-top: 10px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.content-container {
	padding: 20px;
	width: 100%;
}

.main-title {
	font-size: 1.4rem;
	font-weight: 600;
}

.portlet {
	padding: 10px 20px;
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
}

.vertical-menu {
	width: 100%; /* Set a width if you like */
}

.vertical-menu a {
	color: white;
	display: block; /* Make the links appear below each other */
	padding: 10px;
	text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
	color: black;
	background-color: #ccc; /* Dark grey background on mouse-over */
}

.tb-success {
	border-collapse: collapse;
	width: 100%;
}

.tb-success td, .tb-success th {
	border: 1px solid #ddd;
	padding: 4px;
}

.tb-success tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tb-success tr:hover {
	background-color: #ddd;
}

.tb-success th {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}