
.container {
	margin-top: 3rem;
}
.app-nav {
	position: fixed;
	display: inline-table;
	left: 0;
	top: 0;
	width: 100%;
	padding: 8px;
}

.app-foot {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 8px;
	margin-top: 2rem;
}

.txtl { text-align: left; }
.txtr { text-align: right; }
.txtc { text-align: center; }



.grid {
	display: inline-table;
	width: 100%;
}

.grid th {
	text-align: center;
}